@import "~@salesforce-ux/design-system/scss/index.scss";
//@import "node_modules/toastr/toastr.scss";
body {
  background-color: #DDEAFA;
  font-size: 24px;
}

input{font-size:36px;}

::-webkit-input-placeholder { color: plum; font-size: 36px;}

.catalog-container {
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
