@import "~@salesforce-ux/design-system/scss/index.scss";
//@import "node_modules/toastr/toastr.scss";
body {
  background-color: #DDEAFA;
  font-size: 24px;
}

::-webkit-input-placeholder { color: plum; font-size: 24px;}

li.automatch:hover{background-color: lightyellow;}

.catalog-container {
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
