@import "~@salesforce-ux/design-system/scss/index.scss";
//@import "node_modules/toastr/toastr.scss";
body {
  background-color: #DDEAFA;
}

.catalog-container {
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
