<div class="slds-page-header" role="banner">
    <div class="slds-grid">
        <div class="slds-media__figure">
            <img ng-src="{{header.staticPath}}/assets/images/avatar1.jpg" style="height:100px;" alt="Placeholder" />
        </div>
        <div class="slds-col slds-has-flexi-truncate">
            <p class="slds-text-heading--label">Store</p>
            <div class="slds-grid">
                <div class="slds-grid slds-type-focus slds-no-space">
                    <h1 class="slds-text-heading--medium slds-truncate" title="My Leads (truncates)">Angular 1.5  + SFDC</h1>
                </div>
            </div>
        </div>
        <div class="slds-col slds-no-flex slds-align-bottom">
            <div class="slds-grid">
                <div class="slds-button-group" role="group">
                    <a href="#">Hello there!</a>
                </div>
            </div>
        </div>
    </div>
</div>
